1. What exactly is []?

Ans: Big bracket which is represented by [], is used to define the list in the python. It is not mendatory always to assign variable with these [] bracket indentation because in python we also represent the list by using list() method which is inbuilt method in python. Using list() method is the good practice whenever we want to use the list in our program.

2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.)

Ans: I will use insert() method in these case because insert() method help us to enter the value in the specified index which is choose by us so it not insert the element to the last just like append method.

In [25]:
spam = [2,4,6,8,10]
spam.insert(3,'hello')
print(spam)

[2, 4, 6, 'hello', 8, 10]

Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries.

In [26]:
spam.extend(['a', 'b', 'c', 'd'])
spam

[2, 4, 6, 'hello', 8, 10, 'a', 'b', 'c', 'd']

3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

Ans : 

      spam[int(int(&#39;3&#39; * 2) / 11)]

      spam[int(int('33')/11)]

      spam[int(33/11)]

      spam[3]

      from index 3 we will get 'hello' from the spam

In [27]:
spam[int(int('3' * 2) / 11)]

'hello'

4.What is the value of spam[-1]?

Ans: -1 is the negative index so which indicate the last element of the list. So whatever elemenet we have in last index of the list then that element will print. So in our case , we will get "d".

In [28]:
spam[-1]

'd'

5.What is the value of spam[:2]?

Ans: spam[:2] is the slicing of index so in here the element from 0 to 1 element will print but 2 index element  will not print because python consider 2 as a end point of the slicing so end point only be the barrier point and it get exclude during slicing. 

spam[:2] => [2,4]

In [30]:
spam[:2]

[2, 4, 6, 'hello', 8, 10, 'a', 'b', 'c', 'd']

6.Let&#39;s pretend bacon has the list [3.14, &#39;cat,&#39; 11, &#39;cat,&#39; True] for the next three questions.

In [39]:
bacon = [3.14, 'cat', 11, 'cat', True]

6. What is the value of bacon.index(&#39;cat&#39;)?

Ans: The value of bacon.index(&#39;cat&#39;) is 1 because only the first occurance of element will print which is present in the list and searching of element always go from left to right when we use the index() method.

In [40]:
bacon.index('cat')

1

7. How does bacon.append(99) change the look of the list value in bacon?

Ans: It will just add the 99 as the last element of the list and after adding the 99 it will also increase the length of the list.

In [41]:
bacon.append(99)
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]

8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?

Ans: bacon.remove('cat') will remove the 'cat' element of the index 1 from the list becasue remove() method is used to remove the element permanently from the list so while removing element first remove rement search the element from left to right then whenever the element found it will remove and the list will again rearrange after removing the element. If there any copy of that element present in the list then it will not delted becasue remove() method only delte element which come first.

In [42]:
bacon.remove("cat")
bacon

[3.14, 11, 'cat', True, 99]

9. What are the list concatenation and list replication operators?

Ans: For the list concatenation we use '+' operator which main goal is to add the new list to the existing list but it is not permanent in nature.

      Eg: A=[1,2,3]
          A = A + [4,5,6]
          print(A) 

          o/p: [1,2,3,4,5,6]



For the list replication operators we use "*" sign which main goal is to replicate the value of the given list and which will prent the duplicates value of the element in the list.


      Eg: A=[1,2,3]
          A = A * 2
          print(A)

          o/p: [1,2,3,1,2,3]

10. What is difference between the list methods append() and insert()?

Ans: 

1.   append() method is used to add the element in the last index of the list whereas insert() method is used to insert the element in the user provided index  
2.   append() method only take the object i.e append(object) in it whereas insert() method  take index alog with object i.e insert(index, object)


        append example: 

        A = [1,2,3]
        A.append(["h","i"])
        print(A)

        o/p : [1,2,3,["h","i"]]

        insert() example:

        A = [1,2,3]
        A.insert(0,["h","i])
        print(A)

        o/p : [["h","i"],1,2,3]

11. What are the two methods for removing items from a list?

And : Three/Two method are:


1.   remove() : to reomove single element 

2.   del list_name[index] : to remove element by using the index

3. clear() : to remove all the elements

12. Describe how list values and string values are identical.

Ans: list values and string values are identical and that are described in below points:



1.   we can iterate through list as well as string values
2.   we can accessing the element through the index of the element
3. string and list both are objects in python
4. we can use method like count() in both list and string

13. What&#39;s the difference between tuples and lists?

Ans: The difference between tuples and lists are:


1.   tuples are immutable i.e we cannot remove element or modify element in nature but list are mutable in nature i.e we can remove or modify the element 
2.   tuples are represented by "()" whereas list are represented by "[]"
3. We use tuple in such case when we don't want to change our data strucute and neither we want to add some element on it but we use list everytime because list is dynamic in nature so we can perform any actions in list

14. How do you type a tuple value that only contains the integer 42?

Ans: We can use type() method in these case i.e if tuple have only contain 42 integer and there is no any other data types elements expect of 42 and there is no seperation of element by comma "," so in such case python think the number inside bracket as a whole data type even though it is in tuple


      example: A = (42)
              print(type(A))

              o/p : integer

In [84]:
A = (42)
print(type(A))

<class 'int'>

15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

Ans: 
1.   We can get list value to tuple form by using tuple() mehtod in where we declare list  object inside tuple() method .
2.   We can get tuple value to list form by using the list() method in where we declare the tuple object inside the list() method

In [90]:
#tuple to list conversion
A = (1,2,3)
A = list(A)
print(A , type(A))

print("*"*20)

# list to tuple conversion
B = [1,2,3]
B = tuple(B)
print(B, type(B))

[1, 2, 3] <class 'list'>
********************
(1, 2, 3) <class 'tuple'>

16. Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they
contain?

Ans: Variables that "contain" list values actually contain references to the list values. In other words, a variable does not contain the list itself, but rather it contains a reference to the location in memory where the list is stored. This is true for variables that contain any type of complex object, not just lists. When you create a list and assign it to a variable, you are creating a reference to the list, not a copy of the list.

17. How do you distinguish between copy.copy() and copy.deepcopy()?

Ans: 

1.   The copy() function creates a shallow copy of an object. This means that it creates a new object with a new reference to the same data as the original object. If the original object contains references to other objects, the copy will also contain references to the same objects as the original. Any changes made to the original object or the objects it refers to will be reflected in the copy. 
2.   The deepcopy() function, on the other hand, creates a deep copy of an object. This means that it creates a new object with a new reference to a new set of data that is a copy of the original object's data. If the original object contains references to other objects, the copy will contain copies of those objects as well, rather than references to the same objects. Any changes made to the original object or the objects it refers to will not be reflected in the copy.