1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

Ans: To set the variable test1 to the given string and save it to a file named test.txt, you can use the following code:

In [1]:
test1 = 'This is a test of the emergency text system,'

with open('test.txt', 'w') as file:
    file.write(test1)

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

Ans: To read the contents of the file test.txt into the variable test2, you can use the following code:

In [2]:
with open('test.txt', 'r') as file:
    test2 = file.read()

In [3]:
if test1 == test2:
    print("There is no difference between test1 and test2.")
else:
    print("There is a difference between test1 and test2.")

There is no difference between test1 and test2.

3. Create a CSV file called books.csv by using these lines:

title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

Ans: To create a CSV file called books.csv with the given lines, you can use the following code:

In [5]:
import csv

lines = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(lines)

print("books.csv has been created.")

books.csv has been created.

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

Ans: To create a SQLite database called books.db with a table named books having fields title (text), author (text), and year (integer), you can use the following code:

In [6]:
import sqlite3

# Create a connection to the database (or connect to an existing one)
conn = sqlite3.connect('books.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Create the books table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

print("books.db database and books table have been created.")

books.db database and books table have been created.

5. Read books.csv and insert its data into the book table.

Ans: To read the data from the books.csv file and insert it into the books table in the books.db database, you can use the following code:

In [7]:
import csv
import sqlite3

# Open the CSV file
with open('books.csv', 'r') as file:
    # Create a connection to the database
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()

    # Read the CSV file
    csv_reader = csv.reader(file)

    # Skip the header row
    next(csv_reader)

    # Insert data into the books table
    for row in csv_reader:
        title, author, year = row
        cursor.execute('INSERT INTO books (title, author, year) VALUES (?, ?, ?)', (title, author, year))

    # Commit the changes and close the connection
    conn.commit()
    conn.close()

print("Data from books.csv has been inserted into the books table.")

Data from books.csv has been inserted into the books table.

6. Select and print the title column from the book table in alphabetical order.

Ans: To select and print the title column from the books table in alphabetical order, you can use the following code:

In [8]:
import sqlite3

# Create a connection to the database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Select the title column from the books table in alphabetical order
cursor.execute('SELECT title FROM books ORDER BY title ASC')

# Fetch all the rows
rows = cursor.fetchall()

# Print the title column
for row in rows:
    print(row[0])

# Close the connection
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the book table, select and print all columns in the order of publication.

Ans: To select and print all columns from the books table in the order of publication, you can use the following code:

In [10]:
import sqlite3

# Create a connection to the database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Select all columns from the books table ordered by year
cursor.execute('SELECT * FROM books ORDER BY year')

# Fetch all the rows
rows = cursor.fetchall()

# Print all columns
for row in rows:
    print(row)

# Close the connection
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

Ans: To connect to the SQLite database books.db using the SQLAlchemy module, you can use the following code:

In [11]:
from sqlalchemy import create_engine

# Create the database engine
engine = create_engine('sqlite:///books.db')

# Connect to the database
conn = engine.connect()

# Perform database operations...

# Close the connection
conn.close()

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

Ans: We should follow below commands:

In [17]:
pip install redis

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: redis in /usr/local/lib/python3.10/dist-packages (4.5.5)
Requirement already satisfied: async-timeout>=4.0.2 in /usr/local/lib/python3.10/dist-packages (from redis) (4.0.2)

In [ ]:
import redis

# Connect to the Redis server
r = redis.Redis()

# Set the hash fields
r.hset("test", "count", 1)
r.hset("test", "name", "Fester Bestertester")

# Get all the fields and their values for the "test" hash
fields = r.hgetall("test")

# Print the fields and their values
for field, value in fields.items():
    print(f"{field.decode()}: {value.decode()}")

10. Increment the count field of test and print it.

Ans:

In [ ]:
import redis

# Connect to the Redis server
r = redis.Redis()

# Increment the count field of the "test" hash
r.hset("test", "count", 1)

# Get the updated count value
count = r.hgetall("test", "count")

# Print the updated count
print(f"Updated count: {count.decode()}")