1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
birth_year = 1997  
years_list = [year for year in range(birth_year, birth_year + 6)]
print(years_list)

[1997, 1998, 1999, 2000, 2001, 2002]

2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

Ans: If we assume that years_list contains the years from your birth until your fifth birthday, where you were 0 years of age for your first year, then your third birthday would occur in the third year of years_list.

To find the year of your third birthday, you can access the element at index 2 in the years_list. Here's an example:

In [2]:
third_birthday_year = years_list[2]
print(third_birthday_year)

1999

3.In the years list, which year were you the oldest?

Ans: To determine the year when you were the oldest in the years_list, you need to find the maximum value in the list. The maximum value represents the highest year in the list, which corresponds to when you were the oldest.

Here's an example of how you can find the year when you were the oldest in the years_list:

In [3]:
oldest_year = max(years_list)
print(oldest_year)

2002

4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
&quot;salmonella&quot;.

Ans: To create a list called things with the given strings as elements, you can simply assign the strings to the list. Here's an example:

In [6]:
things = ["mozzarella", "cinderella", "salmonella"]
print(things)

['mozzarella', 'cinderella', 'salmonella']

5. Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

Ans: To capitalize the element in things that refers to a person, you can use the capitalize() method. Here's an example:

In [5]:
things[1] = things[1].capitalize()
print(things)

['mozzarella', 'Cinderella', 'salmonella']

In the above code, the capitalize() method is called on the element at index 1 ("cinderella") to capitalize the first letter. The modified list is then printed. As you can see, the element "cinderella" has been changed to "Cinderella" in the list.

6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

Ans: 
To create a surprise list with the elements "Groucho," "Chico," and "Harpo," you can simply assign these values to a list. Here's an example:

In [7]:
surprise = ["Groucho", "Chico", "Harpo"]
print(surprise)

['Groucho', 'Chico', 'Harpo']

7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

Ans: To perform the requested operations on the last element of the surprise list (lowercase, reverse, capitalize), you can use the following code:

In [8]:
surprise[-1] = surprise[-1].lower()[::-1].capitalize()
print(surprise)

['Groucho', 'Chico', 'Oprah']

8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

Ans: To create an English-to-French dictionary called e2f and print it, you can use the following code:

In [2]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

9. Write the French word for walrus in your three-word dictionary e2f.

Ans: The French word for "walrus" in the dictionary e2f is "morse".

In [4]:
e2f['walrus']

'morse'

10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

Ans: Here's how you can create the French-to-English dictionary f2e from the existing English-to-French dictionary e2f using the items() method:

In [5]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

# Create the French-to-English dictionary f2e
f2e = {value: key for key, value in e2f.items()}

# Print the French-to-English dictionary
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

11. Print the English version of the French word chien using f2e.

Ans: 
To print the English version of the French word "chien" using the f2e dictionary, you can simply access the value corresponding to the key "chien". Here's the code:

In [6]:
print(f2e['chien'])

dog

12. Make and print a set of English words from the keys in e2f.

Ans: 
To create and print a set of English words from the keys in the e2f dictionary, you can use the set() function to convert the keys into a set. Here's the code:

In [7]:
# Create a set of English words from the keys in e2f
english_words = set(e2f.keys())

# Print the set of English words
print(english_words)

{'dog', 'cat', 'walrus'}

13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
Make all the other keys refer to empty dictionaries.

Ans: 
Here's the code to create the multilevel dictionary life as described:

In [8]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

14. Print the top-level keys of life.

Ans: To print the top-level keys of the life dictionary, you can use the keys() method. Here's the code:

In [9]:
top_level_keys = life.keys()
print(top_level_keys)

dict_keys(['animals', 'plants', 'other'])

15. Print the keys for life[&#39;animals&#39;].

Ans: To print the keys for life['animals'], you can access the nested dictionary using the key 'animals' and then use the keys() method. Here's the code:

In [10]:
animal_keys = life['animals'].keys()
print(animal_keys)

dict_keys(['cats', 'octopi', 'emus'])

16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

Ans:To print the values for life['animals']['cats'], you can access the nested dictionary using the keys 'animals' and 'cats', and then print the corresponding list of strings. Here's the code:

In [11]:
cat_values = life['animals']['cats']
print(cat_values)

['Henri', 'Grumpy', 'Lucy']