
Create a function that takes a list of non-negative integers and strings and return a new list
without the strings.

In [2]:
def filter_list(lst):
    return [num for num in lst if isinstance(num, int)]

# Examples:
print(filter_list([1, 2, "a", "b"]))  # Output: [1, 2]
print(filter_list([1, "a", "b", 0, 15]))  # Output: [1, 0, 15]
print(filter_list([1, 2, "aasf", "1", "123", 123]))  # Output: [1, 2, 123]

[1, 2]
[1, 0, 15]
[1, 2, 123]

The &quot;Reverser&quot; takes a string as input and returns that string in reverse order, with the
opposite case.

In [3]:
def reverse(string):
    reversed_string = string[::-1]
    return ''.join(c.upper() if c.islower() else c.lower() for c in reversed_string)

# Examples:
print(reverse("Hello World"))  # Output: "DLROw OLLEh"
print(reverse("ReVeRsE"))  # Output: "eSrEvEr"
print(reverse("Radar"))  # Output: "RADAr"

DLROw OLLEh
eSrEvEr
RADAr

You can assign variables from lists like this:
lst = [1, 2, 3, 4, 5, 6]
first = lst[0]
middle = lst[1:-1]
last = lst[-1]
print(first) ➞ outputs 1
print(middle) ➞ outputs [2, 3, 4, 5]
print(last) ➞ outputs 6
With Python 3, you can assign variables from lists in a much more succinct way. Create
variables first, middle and last from the given list using destructuring assignment
(check the Resources tab for some examples), where:
first ➞ 1
middle ➞ [2, 3, 4, 5]
last ➞ 6

In [4]:
lst = [1, 2, 3, 4, 5, 6]
first, *middle, last = lst

print(first)  # Output: 1
print(middle)  # Output: [2, 3, 4, 5]
print(last)  # Output: 6

1
[2, 3, 4, 5]
6

Write a function that calculates the factorial of a number recursively.
Examples
factorial(5) ➞ 120
factorial(3) ➞ 6
factorial(1) ➞ 1
factorial(0) ➞ 1

In [5]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Examples:
print(factorial(5))  # Output: 120
print(factorial(3))  # Output: 6
print(factorial(1))  # Output: 1
print(factorial(0))  # Output: 1

120
6
1
1

Question 5
Write a function that moves all elements of one type to the end of the list.
Examples
move_to_end([1, 3, 2, 4, 4, 1], 1) ➞ [3, 2, 4, 4, 1, 1]
# Move all the 1s to the end of the array.
move_to_end([7, 8, 9, 1, 2, 3, 4], 9) ➞ [7, 8, 1, 2, 3, 4, 9]
move_to_end([&quot;a&quot;, &quot;a&quot;, &quot;a&quot;, &quot;b&quot;], &quot;a&quot;) ➞ [&quot;b&quot;, &quot;a&quot;, &quot;a&quot;, &quot;a&quot;]

In [6]:
def move_to_end(lst, element):
    count = lst.count(element)  # Count the number of occurrences of the element
    lst = [x for x in lst if x != element]  # Remove all occurrences of the element
    lst.extend([element] * count)  # Append the element count times to the end of the list
    return lst

# Examples:
print(move_to_end([1, 3, 2, 4, 4, 1], 1))  # Output: [3, 2, 4, 4, 1, 1]
print(move_to_end([7, 8, 9, 1, 2, 3, 4], 9))  # Output: [7, 8, 1, 2, 3, 4, 9]
print(move_to_end(["a", "a", "a", "b"], "a"))  # Output: ["b", "a", "a", "a"]

[3, 2, 4, 4, 1, 1]
[7, 8, 1, 2, 3, 4, 9]
['b', 'a', 'a', 'a']