Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

In [1]:
def is_symmetrical(num):
    num_str = str(num)  # Convert the number to a string
    return num_str == num_str[::-1]

# Examples:
print(is_symmetrical(7227))  # Output: True
print(is_symmetrical(12567))  # Output: False
print(is_symmetrical(44444444))  # Output: True
print(is_symmetrical(9939))  # Output: False
print(is_symmetrical(1112111))  # Output: True

True
False
True
False
True

Given a string of numbers separated by a comma and space, return the product of the
numbers.

In [2]:
def multiply_nums(nums):
    num_list = nums.split(", ")  # Split the string by comma and space to get a list of numbers
    product = 1
    for num in num_list:
        product *= int(num)  # Multiply each number in the list
    return product

# Examples:
print(multiply_nums("2, 3"))  # Output: 6
print(multiply_nums("1, 2, 3, 4"))  # Output: 24
print(multiply_nums("54, 75, 453, 0"))  # Output: 0
print(multiply_nums("10, -2"))  # Output: -20

6
24
0
-20

Create a function that squares every digit of a number.

In [3]:
def square_digits(num):
    result = ""
    for digit in str(num):
        square = int(digit) ** 2
        result += str(square)
    return int(result)

# Examples:
print(square_digits(9119))  # Output: 811181
print(square_digits(2483))  # Output: 416649
print(square_digits(3212))  # Output: 9414

811181
416649
9414

Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [4]:
def setify(lst):
    return sorted(list(set(lst)))

# Examples:
print(setify([1, 3, 3, 5, 5]))  # Output: [1, 3, 5]
print(setify([4, 4, 4, 4]))  # Output: [4]
print(setify([5, 7, 8, 9, 10, 15]))  # Output: [5, 7, 8, 9

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]

Create a function that returns the mean of all digits.

In [7]:
def mean(num):
    digits = [int(digit) for digit in str(num)]
    return sum(digits) // len(digits)

# Examples:
print(mean(42))  # Output: 3
print(mean(12345))  # Output: 3
print(mean(666))  # Output: 6

3
3
6