Ques.no.1.Ans

In [1]:
km = int(input("Enter the value: "))
mile = km * 0.62137119;
print (f"{km} kilometers is equal to {mile} miles")

Enter the value: 2
2 kilometers is equal to 1.24274238 miles

Ques.no.2.Ans

In [4]:
celsius = float(input("Enter the degree you want to measure: "))
fahrenheit = (celsius * 1.8 ) + 32
print(f"{celsius} O'C is equal to {fahrenheit} O'F ")

Enter the degree you want to measure: 12
12.0 O'C is equal to 53.6 O'F

Ques.no.3.Ans

In [9]:
import calendar

yy = int(input("Enter the year: "))
mm = int(input("Enter the month: "))
for month in range (0,mm):
  print(calendar.month(yy,month+1))

Enter the year: 2022
Enter the month: 12
    January 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

   February 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28

     March 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

     April 2022
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

      May 2022
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

     June 2022
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

     July 2022
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

    August 2022
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

   September 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

    October 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

   November 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

   December 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

Ques.no.4.Ans

In [20]:
import math

a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
c = int(input("Enter the value of c: "))
quad_1 = b**2-(4*a*c)
quad_2 = 2*a
# value for the +ve sign of x
positive_value_of_x = (-(b) + math.sqrt(quad_1))/quad_2
# value for the +ve sign of x
negative_value_of_x= (-(b) - math.sqrt(quad_1))/quad_2
print(f"the value of quadratic equation is {int(positive_value_of_x), int(negative_value_of_x)}")

Enter the value of a: 1
Enter the value of b: -6
Enter the value of c: 5
the value of quadratic equation is (5, 1)

Ques.no.5.Ans

In [42]:
num1 = int(input("Enter the num1 :"))
num2 = int(input("Enter the num2 :"))
print(f"num1 = {num1}, num2 = {num2}")
num1 = num1 - num2
num2 = num1 + num2
num1 = num2 - num1
print(f"num1 = {int(num1)}, num2 = {int(num2)}")

Enter the num1 :8
Enter the num2 :15
num1 = 8, num2 = 15
num1 = 15, num2 = 8